body,html{
	background-image: url('112.jpg');
	background-repeat:no-repeat;
	height:100%;
	width: 100%;
	background-color:black;
}
h1{
	color: white;
	font-size: 60px;
	text-align: left;
	padding-left: 30%;
	font-family: Arial, Helvetica, sans-serif;
}
form{
	margin: 50px auto;
	width: 600px;
	border-radius: 10px;
}
div{
	margin-top: 25px;
}
label{
	display: inline-block;
	width: 120px;
	text-align: right;
	color: white;
	font-size:20px;
}
input,textarea{
	font-size: 20px;
	background:rgba(189,189,189,0.3);
	width: 400px;
	color: white;
	vertical-align: top;
}
.button1{
	text-decoration: none;
	border:none;
	background:#404040;
	color: #fffff !important;
	font-weight: 100;
	padding: 10px;
	transition: all 0.5s ease 0s;
	display: inline-block;
	color: white;
}
.sidenav{
	background-image: url(113.jpg);
	background-repeat: no-repeat;
	display: none;
	height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    padding: 60;
}
span{
	color:white;
}
.sidenav a{
	padding: 90px 28px 8px 32px;
	text-decoration:none;
	font-size: 25px;
	color:blue;
	display: block;
}
.sidenav a:hover{
	color: black;
}
.sidenav .closebtn{
	position: absolute;
	color:black;
	top:0;
	right: 1px;
	font-size: 40px;'
	margin-left:100px;
}
img{
	width:55%;
	height: 25%;
	padding-top: 80%;
	padding-left: 8%;
}